version: "3.9"

services:
    main:
      build:
            context: ./auto_solar
            dockerfile: ./Dockerfile
      container_name: auto-solar
      volumes:
        - ./auto_solar:/usr/app
      entrypoint: pytest
    web:
      build:
          context: ./web
          dockerfile: ./Dockerfile
      container_name: auto-solar-web
      ports:
          - "8000:8000"
      volumes:
        - ./web:/usr/app
      entrypoint: python3 manage.py runserver 0.0.0.0:8000

networks:
  nginx:
    external: true
